In [2]:
import xml.etree.ElementTree as ET
import pandas as pd
from pandas.io.json import json_normalize

In [4]:
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.findall('./delete//'):
        dict = attr.copy()
        dict.update(xml.attrib)

        yield dict

etree = ET.parse('/media/lohitd@nextbillion.ai/FA08-2054/code/python/osc2csv/oscfile1.osc')

eroot = etree.getroot()

trans = transform_xml(eroot)

delete_df = pd.DataFrame(list(trans))

delete_df

,version,generator,id,timestamp,uid,user,changeset,lat,lon,k,v,ref,type,role
0,1,Osmosis 0.48.0,6324,2021-04-21T03:36:12Z,9,yuri,3400,-6.2488524,106.9922069,NaN,NaN,NaN,NaN,NaN
1,1,Osmosis 0.48.0,6325,2021-04-21T03:36:12Z,9,yuri,3400,-6.2496538,106.9923547,NaN,NaN,NaN,NaN,NaN
2,1,Osmosis 0.48.0,6326,2021-04-21T03:36:12Z,9,yuri,3400,-6.2494485,106.9924003,NaN,NaN,NaN,NaN,NaN
3,1,Osmosis 0.48.0,6327,2021-04-21T03:36:12Z,9,yuri,3400,-6.2493072,106.9924298,NaN,NaN,NaN,NaN,NaN
4,1,Osmosis 0.48.0,6328,2021-04-21T03:36:12Z,9,yuri,3400,-6.2492621,106.9923831,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,0.6,Osmosis 0.48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,562444271,way,from
276,0.6,Osmosis 0.48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4068,way,to
277,0.6,Osmosis 0.48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,579472844,node,via
278,0.6,Osmosis 0.48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,restriction,no_right_turn,NaN,NaN,NaN
279,0.6,Osmosis 0.48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type,restriction,NaN,NaN,NaN

In [ ]:
delete_df.rename(columns = {"type":"member_type"}, inplace="True")

delete_df = delete_df.drop(['generator','lat','lon'], axis = 1)

In [ ]:
delete_df

In [ ]:
columns = ['type']
delete_tag = pd.DataFrame(columns = columns)

for child in eroot.findall("./delete//"):
    print(child.tag)
    delete_tag = delete_tag.append(pd.Series(child.tag , index = columns), ignore_index = True)

In [ ]:
delete_tdf = pd.concat([delete_tag, delete_df], axis=1, join='inner')
display(delete_tdf)

In [ ]:
delete_tdf = delete_tdf.replace(['tag', 'nd','member','relation'],[None, None,None,None])
cols = ['type','id', 'timestamp','uid','user','changeset']
delete_tdf.loc[:,cols] = delete_tdf.loc[:,cols].ffill()
delete_tdf['Mod_type'] = 'delete'
delete_tdf

In [ ]:
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.findall('./create//'):
        dict = attr.copy()
        dict.update(xml.attrib)

        yield dict

etree = ET.parse('/home/lohitd@nextbillion.ai/Downloads/14June/jabodiff.osc')

eroot = etree.getroot()

trans = transform_xml(eroot)

create_df = pd.DataFrame(list(trans))

create_df

In [ ]:
create_df = create_df.drop(['generator','lat','lon'], axis = 1)

In [ ]:
create_df

In [ ]:
columns = ['type']
create_tag = pd.DataFrame(columns = columns)

for child in eroot.findall("./create//"):
    print(child.tag)
    create_tag = create_tag.append(pd.Series(child.tag , index = columns), ignore_index = True)

In [ ]:
create_tdf = pd.concat([create_tag, create_df], axis=1, join='inner')
display(create_tdf)

In [ ]:
create_tdf = create_tdf.replace(['tag', 'nd','member','relation'],[None, None,None,None])
cols = ['type','id', 'timestamp']
create_tdf.loc[:,cols] = create_tdf.loc[:,cols].ffill()
create_tdf['Mod_type'] = 'create'
create_tdf

In [ ]:
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.findall('./modify//'):
        dict = attr.copy()
        dict.update(xml.attrib)

        yield dict

etree = ET.parse('/home/lohitd@nextbillion.ai/Downloads/14June/jabodiff.osc')

eroot = etree.getroot()

trans = transform_xml(eroot)

modify_df = pd.DataFrame(list(trans))

modify_df

In [ ]:
modify_df = modify_df.drop(['generator','lat','lon'], axis = 1)

In [ ]:
modify_df

In [ ]:
columns = ['type']
modify_tag = pd.DataFrame(columns = columns)

for child in eroot.findall("./modify//"):
    print(child.tag)
    modify_tag = modify_tag.append(pd.Series(child.tag , index = columns), ignore_index = True)

In [ ]:
modify_tdf = pd.concat([modify_tag, modify_df], axis=1, join='inner')
modify_tdf

In [ ]:
modify_tdf = modify_tdf.replace(['tag', 'nd','member','relation'],[None, None,None,None])
cols = ['type','id', 'timestamp','uid','user','changeset']
modify_tdf.loc[:,cols] = modify_tdf.loc[:,cols].ffill()
modify_tdf['Mod_type'] = 'modify'
modify_tdf

In [ ]:
frames = [delete_tdf, create_tdf, modify_tdf]
  
result = pd.concat(frames)
result

In [ ]:
neworder = ['Mod_type','type','id','version','timestamp','uid','user','changeset','k','v']
result=result.reindex(columns=neworder)

In [ ]:
result.to_csv('/home/lohitd@nextbillion.ai/Downloads/14June/jabodiffdf.csv', index = False)