In [2]:
import xml.etree.ElementTree as ET
import pandas as pd
from pandas.io.json import json_normalize

In [1]:
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.findall('.//'):
        dict = attr.copy()
        dict.update(xml.attrib)

        yield dict

etree = ET.parse('/home/lohitd@nextbillion.ai/Downloads/airliftpakistan1467807055522828288.osm')

eroot = etree.getroot()

trans = transform_xml(eroot)

df = pd.DataFrame(list(trans))

df

NameError: name 'ET' is not defined

In [9]:
df['user'].value_counts()

Iyan      21
iqnaul    19
yuri      19
yeni       6
efdewi     2
Name: user, dtype: int64

In [10]:
df['type'].value_counts()

way    3
Name: type, dtype: int64

In [20]:
df['timestamp'].value_counts()

2021-05-04T03:11:55Z    18
2019-09-13T13:43:33Z     4
2020-11-25T22:25:59Z     3
2021-03-18T07:39:06Z     3
2020-11-25T22:25:45Z     3
2020-11-25T22:25:44Z     3
2020-11-18T09:10:34Z     3
2020-11-24T09:51:16Z     3
2020-11-18T09:10:04Z     2
2020-11-25T22:43:45Z     2
2019-10-10T06:59:12Z     2
2020-11-18T09:10:02Z     2
2019-09-13T15:45:49Z     2
2020-11-25T05:02:15Z     2
2020-11-25T22:26:55Z     1
2020-03-19T04:23:30Z     1
2020-02-21T02:29:51Z     1
2020-11-24T05:53:44Z     1
2020-11-24T09:43:38Z     1
2020-11-26T01:40:54Z     1
2020-11-25T22:34:59Z     1
2020-11-25T05:18:46Z     1
2020-11-25T22:26:46Z     1
2020-11-25T22:25:26Z     1
2019-11-04T08:36:12Z     1
2020-11-25T05:02:08Z     1
2020-03-18T07:21:50Z     1
2020-11-05T07:25:26Z     1
2018-06-05T02:03:14Z     1
2020-11-25T22:28:49Z     1
2016-11-01T07:19:32Z     1
2020-11-25T05:28:16Z     1
2019-08-01T04:13:13Z     1
2020-11-25T05:18:45Z     1
2020-11-18T09:10:31Z     1
2020-11-18T09:11:09Z     1
2020-11-25T22:40:43Z     1
2020-11-25T22:27:18Z     1
2020-11-25T22:40:42Z     1
2020-11-24T10:04:30Z     1
2020-11-26T02:18:36Z     1
2020-11-25T22:26:57Z     1
2020-11-25T22:39:47Z     1
2020-02-20T04:14:45Z     1
2020-11-18T09:10:01Z     1
Name: timestamp, dtype: int64

In [ ]:
df.loc[:,cols] = df.loc[:,cols].ffill()

In [ ]:
delete_tdf = delete_tdf.replace(['tag', 'nd','member','relation'],[None, None,None,None])
cols = ['type','id', 'timestamp','uid','user','changeset']
delete_tdf.loc[:,cols] = delete_tdf.loc[:,cols].ffill()
delete_tdf['Mod_type'] = 'delete'
delete_tdf

In [5]:
delete_df.rename(columns = {"type":"member_type"}, inplace="True")

delete_df = delete_df.drop(['generator','lat','lon'], axis = 1)

NameError: name 'delete_df' is not defined

In [ ]:
delete_df

In [ ]:
columns = ['type']
delete_tag = pd.DataFrame(columns = columns)

for child in eroot.findall("./delete//"):
    print(child.tag)
    delete_tag = delete_tag.append(pd.Series(child.tag , index = columns), ignore_index = True)

In [ ]:
delete_tdf = pd.concat([delete_tag, delete_df], axis=1, join='inner')
display(delete_tdf)

In [ ]:
delete_tdf = delete_tdf.replace(['tag', 'nd','member','relation'],[None, None,None,None])
cols = ['type','id', 'timestamp','uid','user','changeset']
delete_tdf.loc[:,cols] = delete_tdf.loc[:,cols].ffill()
delete_tdf['Mod_type'] = 'delete'
delete_tdf

In [ ]:
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.findall('./create//'):
        dict = attr.copy()
        dict.update(xml.attrib)

        yield dict

etree = ET.parse('/home/lohitd@nextbillion.ai/Downloads/14June/jabodiff.osc')

eroot = etree.getroot()

trans = transform_xml(eroot)

create_df = pd.DataFrame(list(trans))

create_df

In [ ]:
create_df = create_df.drop(['generator','lat','lon'], axis = 1)

In [ ]:
create_df

In [ ]:
columns = ['type']
create_tag = pd.DataFrame(columns = columns)

for child in eroot.findall("./create//"):
    print(child.tag)
    create_tag = create_tag.append(pd.Series(child.tag , index = columns), ignore_index = True)

In [ ]:
create_tdf = pd.concat([create_tag, create_df], axis=1, join='inner')
display(create_tdf)

In [ ]:
create_tdf = create_tdf.replace(['tag', 'nd','member','relation'],[None, None,None,None])
cols = ['type','id', 'timestamp']
create_tdf.loc[:,cols] = create_tdf.loc[:,cols].ffill()
create_tdf['Mod_type'] = 'create'
create_tdf

In [ ]:
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.findall('./modify//'):
        dict = attr.copy()
        dict.update(xml.attrib)

        yield dict

etree = ET.parse('/home/lohitd@nextbillion.ai/Downloads/14June/jabodiff.osc')

eroot = etree.getroot()

trans = transform_xml(eroot)

modify_df = pd.DataFrame(list(trans))

modify_df

In [ ]:
modify_df = modify_df.drop(['generator','lat','lon'], axis = 1)

In [ ]:
modify_df

In [ ]:
columns = ['type']
modify_tag = pd.DataFrame(columns = columns)

for child in eroot.findall("./modify//"):
    print(child.tag)
    modify_tag = modify_tag.append(pd.Series(child.tag , index = columns), ignore_index = True)

In [ ]:
modify_tdf = pd.concat([modify_tag, modify_df], axis=1, join='inner')
modify_tdf

In [ ]:
modify_tdf = modify_tdf.replace(['tag', 'nd','member','relation'],[None, None,None,None])
cols = ['type','id', 'timestamp','uid','user','changeset']
modify_tdf.loc[:,cols] = modify_tdf.loc[:,cols].ffill()
modify_tdf['Mod_type'] = 'modify'
modify_tdf

In [ ]:
frames = [delete_tdf, create_tdf, modify_tdf]
  
result = pd.concat(frames)
result

In [ ]:
neworder = ['Mod_type','type','id','version','timestamp','uid','user','changeset','k','v']
result=result.reindex(columns=neworder)

In [ ]:
result.to_csv('/home/lohitd@nextbillion.ai/Downloads/14June/jabodiffdf.csv', index = False)